<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ichimoku Cloud Indicators</title>
  <!-- <link rel="stylesheet" href="css/animations.css" type="text/css"> -->
  <link rel="stylesheet" href="css/bootstrap.3.3.7.min.css">
  <script src="js/jquery.3.3.1.js"></script>
  <script src="js/bootstrap.3.3.7.min.js"></script>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>
  <script src="js/index.js"></script>
  
</head>
<body ng-app="ngIndex">
  <div ng-controller="homeController" class="container">

    <h3>Ichimoku Cloud Indicators </h3>
    <div class="table-responsive">
        <table class="table">
        <tr>
            <th>Symbol</th>
            <th>Conversion Line</th>
            <th>Base Line</th>
            <th>Cloud</th>
        </tr>
        <tr ng-repeat="item in items">
            <!-- <td>{{item.symbol}}</td>
            <td>{{item.convertionLine}}</td>
            <td>{{item.baseLine}}</td>
            <td>{{item.cloud}}</td> -->
            <td> <input type="text" ng-model="item.symbol" disabled="disabled" /> </td>
            <td><input type="text" ng-model="item.conversionLine" disabled="enabled" /></td>
            <td><input type="text" ng-model="item.baseLine" disabled="disabled" /></td>
            <td><input type="text" ng-model="item.cloud" disabled="disabled" /></td>
        </tr>   
        </table>
    </div>    
  </div>
</body>
</html> 