<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ichimoku Cloud Indicators</title>
  <!-- <link rel="stylesheet" href="css/animations.css" type="text/css"> -->
  <link rel="stylesheet" href="css/bootstrap.3.3.7.min.css" />
  <link rel="stylesheet" href="css/animations.css" />
  <script src="js/jquery.3.3.1.js"></script>
  <script src="js/bootstrap.3.3.7.min.js"></script>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>
  <script src="js/index.js"></script>

</head>
<body ng-app="ngIndex">
  <div ng-controller="homeController" class="">

    <h3>Ichimoku Cloud Indicators </h3>
    <div class="table-responsive">
        <table class="table" >
        <tr>
            <th >Symbol</th>
            <th >Open</th>
            <th >High</th>
            <th >Low</th>
            <th >Close</th>
            <th >Blue Line</th>
            <!-- <th>Red Line</th> -->
            <th >Cloud</th>
            <!-- <th>14 Period MF Ratio</th> -->
            <th >14 Period MFI</th>
            <th colspan="2">1st Hour Break Out</th>
            <th colspan="2">Previous Day Break Out</th>
        </tr>
        <tr>
          <th colspan="8"></th>
          <th> High</th>
          <th> Low </th>
          <th>High</th>
          <th>Low</th>
        </tr>
        <tr ng-repeat="stock in stocks" >
            <td><input type="text" ng-model="stock.symbol" disabled="disabled" style="border:none"/> </td>
            <td><input type="text" ng-model="stock.open" disabled="disabled" style="border:none"/></td>
            <td><input type="text" ng-model="stock.high" disabled="disabled" style="border:none"/></td>
            <td><input type="text" ng-model="stock.low" disabled="disabled" style="border:none"/></td>
            <td><input type="text" ng-model="stock.close" disabled="disabled" style="border:none"/></td>
            <td ng-class="{'green':stock.conversionLine == 'ABOVE BLUE', 'red':stock.conversionLine == 'BELOW BLUE'}">
              <input type="text" ng-model="stock.conversionLine" disabled="enabled" style="border:none"/>
            </td>
            <!-- <td ng-class="{'green':stock.baseLine == 'ABOVE RED', 'red':stock.baseLine == 'BELOW RED'}">
              <input type="text" ng-model="stock.baseLine" disabled="disabled" style="border:none"/>
            </td> -->
            <td ng-class="{'green':stock.cloud == 'ABOVE CLOUD', 'red':stock.cloud == 'BELOW CLOUD'}">
              <input type="text" ng-model="stock.cloud" disabled="disabled" style="border:none"/>
            </td>
            <!-- <td><input type="text" ng-model="stock.fourteenPeriodMFRatio" disabled="disabled" style="border:none"/></td> -->
            <td>
              <input type="text" ng-model="stock.fourteenPeriodMFIndex" disabled="disabled" style="border:none"/>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>    
        </table>
    </div>    
  </div>
</body>
</html> 